



// @media screen and (min-width: 1800px) {
//     html{
//         font-size: 20px;
//     }
//   }
  @media screen and (min-width: 2500px) {
    html{
        font-size: 22px;
    }
  }
  @media screen and (min-width: 3500px) {
    html{
        font-size: 26px;
    }
  }
  @media screen and (min-width: 4000px) {
    html{
        font-size: 35px;
    }
  }